.normal-img {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}

.grayscale-img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: all 0.5s ease-out;
}

button {
	outline: 0;
}

body {
	background-color: rgb(31, 41, 55);

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif;

	text-decoration: none;
	user-select: text;
}

::-webkit-scrollbar {
	display: none;
}
